<div id="wrapper">
      <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-sm-offset-2 col-md-offset-3 col-lg-offset-4 col-xs-12 col-sm-8 col-md-6 col-lg-4">                
                  <h3 class="omb_authTitle" style="text-align:center">MASCOTA</h3>
                  <%= simple_form_for(@pet) do |f| %>
                    <% if alert or f.error_notification %>
                    <div class="alert alert-warning" role="alert">
                      <strong class="warning"></strong>
                      <%= alert %>
                      <%= f.error_notification %>
                    </div>
                    <% end %>
                    <div class="form-inputs">
                      <div class="form-group">
                        <%= f.input :name, required: true, autofocus: ((@pet.errors.include?(:name)) ? true : false), input_html: { class:'form-control' }  %>
                      </div>
                      <div class="form-group">
                        <%= f.input :age, required: true, autofocus: ((@pet.errors.include?(:age)) ? true : false), input_html: { class:'form-control' } %>
                      </div>
                      <div class="form-group">
                        <%= f.input :specie, required: true, autofocus: ((@pet.errors.include?(:specie)) ? true : false), input_html: { class:'form-control' } %>
                      </div>
                      <div class="form-group">
                        <%= f.input :sex, required: true, autofocus: ((@pet.errors.include?(:sex)) ? true : false), input_html: { class:'form-control' } %>
                      </div>
                      <div class="form-group">
                            <%= f.input :race, required: true, autofocus: ((@pet.errors.include?(:race)) ? true : false), input_html: { class:'form-control' } %>
                      </div>
                      <div class="form-group">
                        <%= f.input :height, required: true, autofocus: ((@pet.errors.include?(:height)) ? true : false), input_html: { class:'form-control' } %>    
                      </div>
                      <div class="form-group">
                        <%= f.input :sterilization, as: :boolean, checked_value: true, unchecked_value: false, input_html: { class:'form-control' }, hint: 'Marca si está esterilizado ' %>
                      </div>
                      <div class="form-group" hidden>
                      <%= f.input :adpted, as: :boolean, checked_value: true, unchecked_value: false, input_html: { class:'form-control' } %>
                      </div>
                      <div class="form-group">
                        <%= f.input :description, required: true, autofocus: ((@pet.errors.include?(:height)) ? true : false), input_html: { class:'form-control' } %>
                      </div>
                      <div class="form-group">
                        <%= f.file_field :imagen, required: true, input_html: { class:'form-control' } %>
                        <div class="text-info">La mascota debe estar junto a un objeto para poder comparar su tamaño</div>
                      </div>
                    </div>                    
                    <div class="form-actions">
                      <%= f.button :submit, "Guardar", class: 'btn btn-primary btn-block'  %>
                    </div>
                  <% end %>                  
              </div>
            </div>
          </div>
        </div><!-- /#page-content-wrapper -->
      </div><!-- /#wrapper -->