<div id="wrapper">
<div id="page-content-wrapper">
<div class="container">
 <div class="row">
 <div class="col-sm-offset-2 col-md-offset-3 col-lg-offset-4 col-xs-12 col-sm-8 col-md-6 col-lg-4">

<h3 class="omb_authTitle" style="text-align:center">Solicitud</h3>

<%= simple_form_for(@solicitud) do |f| %>
<% if alert or f.error_notification %>
<div class="alert alert-warning" role="alert">
<strong class="warning"></strong>
<%= alert %>
<%= f.error_notification %>
</div>
<% end %>
  <div class="form-inputs">
  <div class="form-group">
    <%= f.input :nombre, label:'Escribe tu nombre', autofocus: ((@solicitud.errors.include?(:nombre)) ? true : false), required: true %>
    </div>
    <div class="form-group">
    <%= f.input :ocupacion, label:'¿A que te dedicas?', autofocus: ((@solicitud.errors.include?(:ocupacion)) ? true : false), required: true %>
    </div>
    <div class="form-group">
    <%= f.input :edad, label:'¿Cual es tu edad?', autofocus: ((@solicitud.errors.include?(:edad)) ? true : false), required: true %>
    </div>
    <div class="form-group">
    <%= f.input :por_que, label: '¿Por que quieres adopatar una mascota?', autofocus: ((@solicitud.errors.include?(:por_que)) ? true : false), required: true %>
    </div>
    <div class="form-group">
    <%= f.input :consideras, label: '¿Como considerarias a tu nueva mascota?', autofocus: ((@solicitud.errors.include?(:consideras)) ? true : false), required: true %>
    </div>
    <div class="form-group">
    <%= f.input :experiencia, label: '¿Has tenido experiencia cuidando mascotas?', autofocus: ((@solicitud.errors.include?(:experiencia)) ? true : false), required: true %>
    </div>
    <div class="form-group">
    <%= f.input :actividades, label:'¿Qué tipo de actividades planea realizar con el perro o gato que desea adoptar?', autofocus: ((@solicitud.errors.include?(:actividades)) ? true : false), required: true %>
    </div>
    <div class="form-group">
    <%= f.input :gastos, label:'¿Conoces cuales son los gastos economicos qe involucran tener mascota?', autofocus: ((@solicitud.errors.include?(:gastos)) ? true : false), required: true %>
    </div>
    <div class="form-group">
    <%= f.input :vivienda, label:'¿En donde vives?', autofocus: ((@solicitud.errors.include?(:vivienda)) ? true : false), required: true %>
    </div>
    <div class="form-group">
    <%= f.input :dormir, label:'¿En donde dormiria la mascota?', autofocus: ((@solicitud.errors.include?(:dormir)) ? true : false), required: true %>
    </div>
    <div class="form-group">
    <%= f.input :mudarse, label:'¿Qué sucedería si tuviera que mudarse a otra casa o ciudad /país? ', autofocus: ((@solicitud.errors.include?(:mudarse)) ? true : false), required: true %>
    </div>
    <div class="form-group">
    <%= f.input :ajuste, label:' ¿Está dispuesto a que el perro o gato tenga un periodo de ajuste en el que aprenda dónde debe ir al baño y se adapte a la familia? ', autofocus: ((@solicitud.errors.include?(:ajuste)) ? true : false), required: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
  </div>
  </div>
  </div>
  </div>
  </div>
