<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @solicitud.nombre %>
</p>

<p>
  <strong>Ocupacion:</strong>
  <%= @solicitud.ocupacion %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @solicitud.edad %>
</p>

<p>
  <strong>Por que:</strong>
  <%= @solicitud.por_que %>
</p>

<p>
  <strong>Consideras:</strong>
  <%= @solicitud.consideras %>
</p>

<p>
  <strong>Experiencia:</strong>
  <%= @solicitud.experiencia %>
</p>

<p>
  <strong>Actividades:</strong>
  <%= @solicitud.actividades %>
</p>

<p>
  <strong>Gastos:</strong>
  <%= @solicitud.gastos %>
</p>

<p>
  <strong>Vivienda:</strong>
  <%= @solicitud.vivienda %>
</p>

<p>
  <strong>Dormir:</strong>
  <%= @solicitud.dormir %>
</p>

<p>
  <strong>Mudarse:</strong>
  <%= @solicitud.mudarse %>
</p>

<p>
  <strong>Ajuste:</strong>
  <%= @solicitud.ajuste %>
</p>

<%= link_to 'Edit', edit_solicitud_path(@solicitud) %> |
<%= link_to 'Back', solicituds_path %>
